@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: #f6f6f6;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-color);
}

#slider::-webkit-scrollbar{
  display: none;
}
#slider{
  scroll-behavior: smooth;
}

#card_box:hover #card_tab {
  display: flex;
}
#boxes:hover #small_boxes{
  opacity: 1;
}
#boxes_1:hover #small_boxes_1{
  opacity: 1;
}
#boxes_2:hover #small_boxes_2{
  opacity: 1;
}
#boxes_3:hover #small_boxes_3{
  opacity: 1;
}
.gradient {
  @apply bg-gradient-to-r from-pink-500/30 via-red-500/30 to-blue-400/30;
}
.main {
  @apply bg-[length:100%_85%] bg-no-repeat
}

